// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Bootstrap navbar overrides
.navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 66px;
}
.navbar {min-height:66px !important;}

.logo-align {
  padding-left: 4px;
}

.breadcrumb > li + li:before {
  color: #ccc;
  content: '• ';
  padding: 0 5px;
}

.active {
  background-color: red !important;
}

.image_opacity_6 {
  opacity: 0.7;
}