<div class="container">
  <br>
  <p id="notice"><%= notice %></p>


  <p>You voted on experience: <%= @vote.experience.name %>.</p>
  <p>Your rated your confidence in this vote a <%= @vote.confidence %>/10.</p>

  <% if @vote.clip_id == 1 %>
    <p>You have successfully been able to identify the original microphone used in this comparison. Congratulations!</p>
  <% else %>
    <p>A good guess, but unfortunately you selected the Sphere microphone!</p>
  <% end %>
  <br>

<%= link_to 'Vote Again', root_path %>
</div>
